.title-rectangle {
	height: 13ex;
	width: 100%;
	background-color: #183B7A;
	justify-content: center;
	align-items: center;
	display: flex;
}

.title-text {
	color: white;
	font-size: 7.7ex;
}

.introduction-container {
	margin-bottom: 3ex;
	padding-top: 3ex;
	text-align: center;
}

div.introduction-container div {
	margin: auto;
	width: 80%;
}

.introduced-text {
	font-family: 'Oxygen', sans-serif;
	text-align: center;
	font-size: 2.8ex;
}

.contact-information {
	text-align: left;
	font-size: 2.2ex;
	padding-top: 10ex;
	margin: auto;
	width: 90%;
}

h4 {
	font-weight: bold;
	font-size: 2.5ex;
}

h5 {
	font-weight: bold;
	font-size: 2.3ex;
}

div.contact-information p:last-child {
	font-size: 2ex;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #183B7A;
	text-decoration: underline;
}

div.leftside-container div:first-child {
	margin: auto;
	height: auto;
}

.form-heading {
	width: 65%;
}

.symbol-required {
	color: rgba(255, 52, 52, 0.993);
}

#error-name, #error-email, #error-text {
	margin-left: 0.5ex;
	font-size: 1.5ex;
}

div.row div.col:last-child {
	text-align: right;
	margin-right: 0.5ex;
	font-size: 1.5ex;
}

.button-container {
	margin: auto;
}

div.button-container input {
	display: block;
	width: 100%
}

.map-container {
	margin-top: 10ex;
}

div.map-container div:first-child {
	height: 40ex;
}
