@model EmailForm;
@{
    ViewData["Title"] = "Kontakt | Grzegorz Bochnacki - Kancelaria Radcy Prawnego";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script type="text/javascript" src="/js/contact.js" defer></script>
</head>
<body>

    <div class="title-rectangle">
        <h1 class="title-text">Kontakt</h1>
    </div>

    <noscript>
        <div class="alert-container">
            <div class="alert alert-warning content-text">
                <strong>JavaScript jest wytłączony</strong>, mogą się pojawić pewne ograniczenia w poprawnym działaniu strony Internetowej.<strong> Do poprawnego działania włącz JavaScript</strong>.
            </div>
        </div>
    </noscript>

    <div class="introduction-container">
        <div class="row">
            <p class="introduced-text">
                Naszą misją jest świadczenie usług prawnych <strong>na najwyższym poziomie</strong>, które pomogą Klientom podejmować właściwe decyzje.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 ">
            <div class="leftside-container">
                <div class="contact-information content-text">
                    <h4>Kancelaria Radcy Prawnego Grzegorz Bochnacki</h4>
                    <h5>Budynek "Babka Tower"</h5>
                    <p>
                        Al. Jana Pawła II 80 lok. D39, VIII piętro <br />
                        00-175 Warszawa <br />
                        Wejście od strony ulicy <strong>'Dzika'</strong>
                    </p>
                    <p>
                        Telefon: 22 627 27 33<br />
                        E-mail: <a href="mailto:" kancelaria@bochnacki.com">kancelaria@bochnacki.com</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-6 ">
            <div class="rightside-container">
                <div class="row">
                    <form id="contact-form" class="content-text" method="post">
                        <div class="form-group">
                            <div class="form-heading">
                                <label for="Name">Imię i Nazwisko: <span class="symbol-required">*</span></label>
                                <input id="input-name" asp-for="Name" class="form-control" type="text" placeholder="2-50 znaków" autocomplete="off" />
                            </div>
                            <span id="error-name" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <div class="form-heading">
                                <label for="Email">E-mail: <span class="symbol-required">*</span></label>
                                <input id="input-email" asp-for="Email" class="form-control" type="text" placeholder="2-50 znaków" autocomplete="off" />
                            </div>
                            <span id="error-email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label for="Message">Wiadomość: <span class="symbol-required">*</span></label>
                            <textarea id="input-message" asp-for="Message" class="form-control contact-message" maxlength="5000" type="text" rows="13" placeholder="10-5000 znaków" autocomplete="off"></textarea>
                            <div class="row">
                                <div class="col">
                                    <span id="error-message" class="text-danger"></span>
                                </div>
                                <div class="col-md-auto">
                                    <span id="counter">5000/5000</span>
                                </div>
                            </div>
                        </div>

                        <div class="button-container">
                            <input id="send-button" type="submit" value="Wyślij" class="btn btn-secondary" onclick="    validate();" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="map-container">
        <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="100%" height="100%" id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2442.416175112363!2d20.981828315991773!3d52.253987263661124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecb88a8ece855%3A0x848710e55395c9a!2sal.%20Jana%20Paw%C5%82a%20II%2080%2C%2000-175%20Warszawa%2C%20Poland!5e0!3m2!1sen!2sus!4v1658313597374!5m2!1sen!2sus" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <a href="https://putlocker-is.org"></a><a href="https://www.embedgooglemap.net"></a>
            </div>
        </div>
    </div>
</body>
</html>
