
.contact-information {
	text-align: left;
	font-size: 2.2ex;
	padding-top: 10ex;
	margin: auto;
	width: 90%;
}

h4 {
	font-weight: bold;
	font-size: 2.5ex;
}

h5 {
	font-weight: bold;
	font-size: 2.3ex;
}

div.contact-information p:last-child {
	font-size: 2ex;
}

#mail-note {
	text-decoration: none;
}

a#mail-note:hover {
	text-decoration: underline;
}

div.leftside-container div:first-child {
	height: 10ex;
}

div#form-status div:first-child {
	text-align: center;
	height: fit-content
}

	div#form-status div:first-child p {
		margin-top: 1ex;
	}

div.leftside-container div.contact-information {
	margin: auto;
	height: auto;
}

.form-heading {
	width: 65%;
}

.symbol-required {
	color: rgba(255, 52, 52, 0.993);
}

#error-name, #error-email, #error-message, #counter {
	margin-left: 0.5ex;
	font-size: 1.5ex;
	font-weight: bold;
}

div.row div.col:last-child {
	text-align: right;
	margin-right: 0.5ex;
	font-size: 1.5ex;
}

.button-container {
	padding-top: 1ex;
	margin: auto;
}

div.button-container input {
	display: block;
	width: 100%
}

.map-container {
	margin-top: 10ex;
}

div.map-container div:first-child {
	height: 40ex;
}

@media all and (min-width: 768px) and (max-width: 991px) {
	.title-text {
		font-size: 7ex;
	}
}

@media only screen and (min-width: 496px) and (max-width: 767px) {
	.contact-information {
		padding-top: 5ex;
		padding-bottom: 4ex;
	}

	.title-text {
		font-size: 6.4ex;
	}
}

@media only screen and (max-width: 495px) {
	.contact-information {
		padding-top: 5ex;
		padding-bottom: 4ex;
		font-size: 2ex;
	}

	.rightside-container {
		font-size: 1.7ex;
	}
}
