@{
    ViewData["Title"] = "Kontakt | Grzegorz Bochnacki - Kancelaria Radcy Prawnego";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

    <div class="title-rectangle">
        <h1 class="title-text">Współpraca</h1>
    </div>

    <div class="introduction-container">
        <div class="row">
            <p class="introduced-text">
                Naszą misją jest świadczenie usług prawnych <strong>na najwyższym poziomie</strong>, które pomogą Klientom podejmować właściwe decyzje.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 ">
            <div class="leftside-container">
                <div class="row">
                    <div class="contact-information">
                        <h4 class="content-text">Kancelaria Radcy Prawnego Grzegorz Bochnacki</h4>
                        <h5 class="content-text">Budynek "Babka Tower"</h5>
                        <p class="content-text">
                            Al. Jana Pawła II 80 lok. D39, VIII piętro <br />00-175 Warszawa
                        </p>
                        <p class="content-text">Telefon: 22 627 27 33<br /> E-mail: <a href="mailto:" kancelaria@bochnacki.com">kancelaria@bochnacki.com</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 ">
            <div class="rightside-container">
               
            </div>
        </div>
    </div>
</body>
</html>
