@{
    ViewData["Title"] = "Współpraca | Grzegorz Bochnacki - Kancelaria Radcy Prawnego";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

    <div class="title-rectangle">
        <h1 class="title-text">Współpraca</h1>
    </div>

     <div class="introduction-container">
        <div class="row">
            <p class="introduced-text">
                Każda współpracująca z nami firma może <strong>czuć się bezpiecznie i pewnie</strong>, gdyż działamy
                transparentnie i na zasadach wzajemnego zaufania.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 ">
            <div class="leftside-container">

            </div>
        </div>

        <div class="col-md-6 ">
            <div class="rightside-container">

            </div>
        </div>
    </div>
</body>
</html>
