@{
    ViewData["Title"] = "Współpraca | Grzegorz Bochnacki - Kancelaria Radcy Prawnego";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

    <div class="title-rectangle">
        <h1 class="title-text">Współpraca</h1>
    </div>

    <noscript>
        <div class="alert-container">
            <div class="alert alert-warning content-text">
                <strong>JavaScript jest wytłączony</strong>, mogą się pojawić pewne ograniczenia w poprawnym działaniu strony Internetowej.<strong> Do poprawnego działania włącz JavaScript</strong>.
            </div>
        </div>
    </noscript>

    <div class="introduction-container">
        <div class="row">
            <p class="introduced-text">
                Każda współpracująca z nami firma może <strong>czuć się bezpiecznie i pewnie</strong>, gdyż działamy
                transparentnie i na zasadach wzajemnego zaufania.
            </p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 ">
            <div class="leftside-container">
                <p class="content-text">
                    Mając na uwadze potrzeby i specyfikę działań Klientów, proponujemy następujące sposoby rozliczeń za świadczone usługi:
                </p>
                <ul class="content-text">
                    <li>
                        wynagrodzenie abonamentowe
                    </li>
                    <li>
                        wynagrodzenie godzinowe
                    </li>
                    <li>
                        wynagrodzenie abonamentowo - godzinowe
                    </li>
                    <li>
                        wynagrodzenie z tytułu zastępstw procesowych
                    </li>
                </ul>
                <p class="content-text">
                    Każdorazowo wysokość wynagrodzenia za prowadzenie powierzonej sprawy ustalana jest indywidualnie przy uwzględnieniu
                    stopnia skomplikowania podejmowanych czynności i wartości przedmiotu sporu.
                </p>
                <p class="content-text">
                    Nasze działania podejmujemy w ścisłej współpracy z Klientem, który jest na bieżąco informowany zarówno o szansach
                    jak i potencjalnych zagrożeniach i ryzykach w prowadzonej sprawie.
                </p>
                <p class="content-text">
                    Przed podjęciem czynności zawieramy umowę o świadczenie pomocy prawnej. Zawarta umowa pozwala Klientom korzystać
                    z doświadczeń i zasobów naszej Kancelarii oraz zapewnia stałą obsługę prawną w oczekiwanym przez Klientów zakresie.
                </p>
            </div>
        </div>

        <div class="col-md-6 ">
            <div class="rightside-container">
                <div class="square-container">
                    <div class="square-element">
                        <div class="centered-text-square">
                            <p class="box b1">
                                Usługi prawne świadczone przez Kancelarię <strong>wyceniane są indywidualnie</strong>.
                            </p>
                            <p class="box b2">
                                <strong>Ze starannością</strong> podchodzimy do rozliczeń z Klientami oraz
                                dostępu do informacji o aktualnym stanie spraw.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="note-container">
                    <p class="note content-text ">
                        <a class="text-dark" asp-controller="home" asp-action="contact">
                            <strong>Zachęcamy Państwa do kontaktu i współpracy z naszą Kancelarią</strong><img class="arrow" src="~/images/right-arrow.png" />
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
