@{
    ViewData["Title"] = "O nas | Grzegorz Bochnacki - Kancelaria Radcy Prawnego";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <div class="row row-bottom-margin row-right-align ">
            <div class="col"></div>
            <div class="col-6"><p class="quoted-text">Sama wiedza nie wystarczy,</p></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <p class="quoted-text">trzeba jeszcze <strong>wiedzieć jak ją stosować</strong>.</p>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <div class="fixed-background"></div>

    <div class="introduction-container">
        <div class="row">
            <div class="col"></div>
            <div class="col-md-auto">
                <h1>Kancelaria Radcy Prawnego - Grzegorz Bochnacki</h1>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-md-auto">
                <p class="introduced-text">Kancelaria Radcy Prawnego Grzegorza Bochnackiego świadczy usługi pomocy prawnej dla swoich Klientów nieprzerwanie <strong>od 2003 roku</strong>.</p>
            </div>
            <div class="col"></div>
        </div>
    </div>


</body>
</html>