@{
    ViewData["Title"] = "O nas | Grzegorz Bochnacki - Kancelaria Radcy Prawnego";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <div class="row row-bottom-margin row-right-align ">
            <div class="col"></div>
            <div class="col-6"><p class="quoted-text">Sama wiedza nie wystarczy,</p></div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <p class="quoted-text">trzeba jeszcze <strong>wiedzieć jak ją stosować</strong>.</p>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <div class="fixed-background"></div>

    <div class="introduction-container">
        <div class="row">
            <div class="col"></div>
            <div class="col-md-auto">
                <h1>Kancelaria Radcy Prawnego - Grzegorz Bochnacki</h1>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-md-auto">
                <p class="introduced-text">Kancelaria Radcy Prawnego Grzegorza Bochnackiego świadczy usługi pomocy prawnej dla 
                    swoich Klientów nieprzerwanie <strong>od 2003 roku</strong>.</p>
            </div>
            <div class="col"></div>
        </div>
    </div>

    <div class="row no-glutters">
        <div class="col-md-6 no-glutters">
            <div class="leftside-container">
                <p class="content-text">
                    Swoją działalność opieramy na<strong>
                        solidnych podstawach i wieloletnim doświadczeniu zawodowym
                    </strong> oraz wzajemnym zaufaniu i trafnym określaniu potrzeb naszych Klientów.
                </p>
                <p class="content-text">
                    Kancelaria początkowo działała  jako jednoosobowa, indywidualna Kancelaria Radcy Prawnego.
                    Systematycznie zwiększając zakres świadczonych usług powiększał się zespół radców prawnych i
                    prawników stale współpracujących Obecnie Zespół Kancelarii tworzy grupa radców prawnych, adwokatów,
                    aplikantów radcowskich i adwokackich oraz prawników.
                </p>
                <p class="content-text">
                    Kancelaria prowadzi kompleksową i incydentalną obsługę prawną spółek kapitałowych i osobowych oraz osób
                    prowadzących działalność gospodarczą. Prowadzimy również obsługę prawną osób fizycznych w sprawach
                    dotyczących wielorakich dziedzin prawa.
                </p>
                <p class="content-text">
                    Bliski kontakt i znajomość specyfiki działania Klientów umożliwia nam zarówno rozwiązywanie bieżących problemów,
                    a także opracowywanie strategii działania w  przyszłości.
                </p>
            </div>
        </div>

        <div class="col-md-6 no-glutters">
            <div class="rightside-container">
                <div class="square-container">
                    <div class="square-element">
                        <div class="centered-text-container">
                            <p class="box b1">
                                <strong>Dobro Klienta stawiamy</strong> na pierwszym miejscu. Dając tym samym poczucie 
                                bezpieczeństwa i osobistego zaangażowania.
                            </p>
                            <p class="box b2">
                                <strong>Nie unikamy trudnych zagadnień prawnych, </strong>które wymagają zaopiniowania.
                            </p>
                            <p class="box b3">
                                <strong>Reprezentujemy indywidualne podejście i szacunek</strong> dla każdego Klienta 
                                i jego spraw.
                            </p>
                            <p class="box b4">
                                <strong>Zaufanie</strong>, którym wielu Klientów nieustannie obdarza Kancelarię 
                                przekazując pozytywną ocenę współpracy z nami, swoim kontrahentom oraz bliskim.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>