@using Microsoft.Extensions.Localization
@using GB_Webpage.Resources;
@inject IStringLocalizer<News> news;
@inject IStringLocalizer<Alert> alert;

@{
    ViewBag.Title = news["0_title_tab"];

    var jsError = @Html.Raw(alert["0_js_error"]);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script type="text/javascript" src="/js/contact.js" defer></script>
</head>
<body>

    <div class="title-rectangle">
        <h1 class="title-text">@Html.Raw(news["1_title_rectangle"])</h1>
    </div>

    <noscript>
        <div class="alert-container">
            <div class="alert alert-warning content-text">
                @jsError
            </div>
        </div>
    </noscript>

    <div class="row">

    </div>

</body>
</html>
