.title-rectangle {
	height: 13ex;
	width: 100%;
	background-color: #183B7A;
	justify-content: center;
	align-items: center;
	display: flex;
	margin-bottom: 3ex;
}

.title-text {
	color: white;
	font-size: 7.7ex;
}

.cards-container {
	justify-content: center;
	align-items: center;
	display: flex;
}

div.card-header {
	border: none;
	background-color: white;
	text-align: center;
}

.card-header-text {
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
	font-size: 2.4ex;
	text-decoration: none;
	white-space: normal;
}

div.card {
	margin-bottom: 4ex;
}

div.card:hover {
	-webkit-animation-name: none;
	border: 0.2ex solid #183B7A;
}

.separation-line {
	margin: auto;
	width: 90%;
	height: 0.2ex;
	background: #183B7A;
}

ul li, p {
	font-size: 2.2ex;
}

#leftside-accordion, #rightside-accordion {
	margin-top: 5ex;
	width: 80%;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	#leftside-accordion, #rightside-accordion {
		width: 90%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
	.title-text {
		font-size: 7ex;
	}

	#leftside-accordion, #rightside-accordion {
		width: 90%;
	}

	.card-header-text {
		font-size: 2.2ex;
	}

	ul li, p {
		font-size: 2ex;
	}
}

@media only screen and (max-width: 767px) {
	.title-text {
		font-size: 6.4ex;
	}

	#leftside-accordion, #rightside-accordion {
		width: 90%;
	}

	#rightside-accordion {
		margin-top: 0ex;
	}

	.card-header-text {
		font-size: 2.2ex;
	}

	ul li, p {
		font-size: 2ex;
	}
}
