@{
    ViewData["Title"] = "Specjalizacje | Grzegorz Bochnacki - Kancelaria Radcy Prawnego";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="title-rectangle">
        <h1 class="title-text">Specjalizacje</h1>
    </div>

    <div class="row">
        <div class="col-md-6 ">
            <div class="leftside-container">
                <div class="cards-container">
                    <div id="leftside-accordion">

                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-1">
                                    <button class="btn btn-link btn-block card-header-text" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        Umowy i kontrakty
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#leftside-accordion">
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            opracowanie założeń i struktury umów oraz wzorów i gotowych projektów umów, kontraktów i porozumień cywilnych i gospodarczych,
                                        </li>
                                        <li>
                                            przygotowanie umów i porozumień związanych z działalnością gospodarczą (np. sprzedaży, dostawy, zamiany) różnego typu umów ramowych,
                                            umów związanych z korzystaniem z rzeczy, umów pożyczki,
                                        </li>
                                        <li>
                                            przygotowanie umów dla osób nieprowadzących działalności gospodarczej,
                                        </li>
                                        <li>
                                            przygotowywanie umów przedwstępnych i warunkowych,
                                        </li>
                                        <li>
                                            przygotowywanie ogólnych warunków umów, różnego rodzaju regulaminów i regulacji wewnętrznych,
                                        </li>
                                        <li>
                                            przygotowywanie opinii prawnych dotyczących umów cywilnych i handlowych,
                                        </li>
                                        <li>
                                            analizy i oceny prawne umów i porozumień oraz ich projektów,
                                        </li>
                                        <li>
                                            negocjowanie umów i porozumień - samodzielnie lub w zespole,
                                        </li>
                                        <li>
                                            nadzorowanie realizacji wykonania zobowiązań z umów i porozumień cywilnych i gospodarczych.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-1">
                                    <button class="btn btn-link btn-block card-header-text" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Sprawy korporacyjne
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#leftside-accordion">
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            pomoc prawna przy zawiązywaniu podmiotów w formie spółek, fundacji, stowarzyszeń i innych,
                                        </li>
                                        <li>
                                            przygotowanie dokumentów wewnętrznych, wniosków i formularzy dla potrzeb związanych z działalnością gospodarczą
                                            osób fizycznych i prawnych,
                                        </li>
                                        <li>
                                            obsługa prawna organów spółek (zgromadzenia wspólników/akcjonariuszy, rad nadzorczych oraz zarządów,
                                        </li>
                                        <li>
                                            obsługa prawna procesów likwidacji i upadłości podmiotów gospodarczych,
                                        </li>
                                        <li>
                                            obsługa prawna upadłości konsumenckich,
                                        </li>
                                        <li>
                                            obsługa prawna przekształceń kapitałowych i organizacyjnych, procesów łączenia, podziałów spółek prawa handlowego,
                                        </li>
                                        <li>
                                            doradztwo prawne przy przekształcaniu indywidualnej działalności gospodarczej w spółki kapitałowe i osobowe,
                                        </li>
                                        <li>
                                            opracowywanie optymalnych rozwiązań podatkowych pod kątem zmian korporacyjnych,
                                        </li>
                                        <li>
                                            zastępstwo przed sądami, organami administracji i urzędami przy dokonywaniu rejestracji oraz ujawnianiu zmian w zakresie
                                            prowadzonej działalności gospodarczej podmiotów, prowadzonej w dowolnej formie.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-1">
                                    <button class="btn btn-link btn-block card-header-text" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Własność intelektualna
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#leftside-accordion">
                                <div class="card-body">
                                    <p>
                                        Przygotowywanie opinii prawnych z zakresu własności intelektualnej, a także sporządzanie, weryfikacja, negocjowanie:
                                    </p>
                                    <ul>
                                        <li>
                                            umów o przeniesienie autorskich praw majątkowych,
                                        </li>
                                        <li>
                                            umów o korzystanie z utworów (umów licencyjnych),
                                        </li>
                                        <li>
                                            umów o przeniesienie prawa z rejestracji znaku towarowego oraz o przeniesienie prawa do zgłoszenia,
                                        </li>
                                        <li>
                                            umów o korzystanie ze znaku towarowego (umów licencyjnych),
                                        </li>
                                        <li>
                                            umów z artystami, wykonawcami o współudział w realizacji filmów fabularnych oraz umów wydawniczych i kooprodukcje
                                            filmów fabularnych,
                                        </li>
                                        <li>
                                            umów o stworzenie programu komputerowego (modyfikacji programu komputerowego) i przeniesienie praw autorskich,
                                        </li>
                                        <li>
                                            umów dotyczących systemów informatycznych w tym umów licencyjnych, wdrożeniowych,
                                        </li>
                                        <li>
                                            przygotowywanie wniosków o rejestrację znaków towarowych, wzorów użytkowych, patentów,
                                        </li>
                                        <li>
                                            zastępstwo w postępowaniach rejestrowych przed Urzędem Patentowym w kraju i za granicą,
                                        </li>
                                        <li>
                                            opracowywanie strategii i procedur związanych ochroną własności intelektualnej.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-1">
                                    <button class="btn btn-link btn-block card-header-text" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Przekształcenia, fuzje i przejęcia
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#leftside-accordion">
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            doradztwo prawne przy procesie przekształcania podmiotów działających na podstawie wpisu do ewidencji działalności
                                            gospodarczej w spółki osobowe i kapitałowe,
                                        </li>
                                        <li>
                                            doradztwo prawne w procesie łączenia i dzielenia spółek kapitałowych,
                                        </li>
                                        <li>
                                            doradztwo prawne w zakresie prywatyzacji i restrukturyzacji przedsiębiorców i spółek Skarbu Państwa,
                                        </li>
                                        <li>
                                            badania prawne (analizy prawne) mające na celu ocenę sytuacji prawnej podmiotu gospodarczego przeprowadzane zarówno
                                            na potrzeby restrukturyzacji, prywatyzacji lub realizacji projektów inwestycyjnych,
                                        </li>
                                        <li>
                                            doradztwo prawne w procesie kupna-sprzedaży akcji/udziałów, ocena prawna transakcji, przygotowywanie raportów i nadzór
                                            nad realizacją transakcji kapitałowych,
                                        </li>
                                        <li>
                                            fuzje i przejęcia spółek oraz podziały spółek,
                                        </li>
                                        <li>
                                            doradztwo przy projektowaniu i realizacji porozumień pomiędzy udziałowcami/akcjonariuszami, udział i reprezentacja w
                                            negocjacjach pomiędzy inwestorami.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <h5 class="mb-1">
                                    <button class="btn btn-link btn-block card-header-text" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Nieruchomości
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#leftside-accordion">
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            analiza statusu prawnego nieruchomości,
                                        </li>
                                        <li>
                                            przygotowywanie umów i udział w negocjacjach transakcji nabycia nieruchomości na wskazane cele,
                                        </li>
                                        <li>
                                            doradztwo prawne w zakresie zawierania umów najmu i dzierżawy nieruchomości dla potrzeb mieszkaniowych
                                            bądź inwestycyjnych,
                                        </li>
                                        <li>
                                            obsługa prawna postępowań przed właściwymi organami przy uzyskiwaniu zezwoleń na nabycie nieruchomości przez
                                            inwestorów zagranicznych,
                                        </li>
                                        <li>
                                            pomoc prawna w doborze odpowiedniej formy nabycia lub zabezpieczenia nieruchomości,
                                        </li>
                                        <li>
                                            badania prawne (analizy prawne) statusu nieruchomości przejętych przez Skarb Państwa w wyniku nacjonalizacji i wywłaszczenia oraz
                                            przygotowywanie wniosków i reprezentowanie byłych właścicieli w postępowaniach o zwrot nieruchomości,
                                        </li>
                                        <li>
                                            doradztwo prawne przy przekształcaniu prawa użytkowania wieczystego nieruchomości w prawo własności i spółdzielczego własnościowego
                                            prawa do lokalu w odrębną własność,
                                        </li>
                                        <li>
                                            obsługa prawna wspólnot mieszkańców,
                                        </li>
                                        <li>
                                            obsługa prawna zarządców i administratorów nieruchomości.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingSix">
                                <h5 class="mb-1">
                                    <button class="btn btn-link btn-block card-header-text" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        Administracja
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#leftside-accordion">
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            obsługa prawna w zakresie poszczególnych postępowań z zakresu prawa administracyjnego (w tym procedury administracyjnej),
                                        </li>
                                        <li>
                                            pomoc prawna przy sporządzaniu wniosków, podań i pism w sprawach i postępowaniach administracyjnych,
                                        </li>
                                        <li>
                                            pomoc prawna przy dokonywaniu wymaganych zgłoszeń i zawiadomień,
                                        </li>
                                        <li>
                                            reprezentowanie klientów przed urzędami, organami administracji państwowej oraz samorządowej , w tym postępowaniach
                                            odwoławczych na każdym etapie postępowania,
                                        </li>
                                        <li>
                                            pomoc prawna dotycząca uzyskiwania wymaganych zgód i zezwoleń administracyjnych, uzyskiwanie decyzji administracyjnych,
                                        </li>
                                        <li>
                                            zastępstwo procesowe przed sądami administracyjnymi wszystkich instancji.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="rightside-container">
                <div class="cards-container">
                    <div id="rightside-accordion">

                        <div class="card">
                            <div class="card-header" id="headingSeven">
                                <h5 class="mb-1">
                                    <button class="btn btn-link btn-block card-header-text" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                        Podatki
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#rightside-accordion">
                                <div class="card-body">
                                    <p>
                                        We współpracy z doradcami podatkowymi:
                                    </p>
                                    <ul>
                                        <li>
                                            przygotowujemy opinie i analizy podatkowe,
                                        </li>
                                        <li>
                                            oferujemy pomoc prawną w trakcie kontroli podatkowej i skarbowej,
                                        </li>
                                        <li>
                                            doradzamy przy wnioskach o indywidualne interpretacje podatkowe,
                                        </li>
                                        <li>
                                            oferujemy zastępstwo prawne w podatkowym postępowaniu odwoławczym i sądowym,
                                        </li>
                                        <li>
                                            sporządzamy pisma w sprawach podatkowych, zabezpieczających i egzekucyjnych prowadzonych przed urzędami
                                            i izbami skarbowymi, celnymi,
                                        </li>
                                        <li>
                                            przygotowujemy odwołania, zażalenia, skargi od decyzji i postanowień organów podatkowych,
                                        </li>
                                        <li>
                                            oferujemy zastępstwo procesowe w postępowaniach administracyjnych oraz sądowych przed WSA i NSA.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingEight">
                                <h5 class="mb-1">
                                    <button class="btn btn-link btn-block card-header-text" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                        Prawo pracy i ubezpieczenia społeczne
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#rightside-accordion">
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            przygotowujemy opinie i analizy prawne z zakresu prawa pracy,
                                        </li>
                                        <li>
                                            przygotowujemy i analizujemy wzory dokumentów i regulaminów oraz procedury działania obowiązujące
                                            pracodawców w zakładach pracy,
                                        </li>
                                        <li>
                                            przygotowujemy i opiniujemy regulaminy pracy, regulaminy wynagradzania i zakładowe układy zbiorowe,
                                        </li>
                                        <li>
                                            reprezentujemy pracowników i pracodawców w postępowaniach w sprawach z zakresu prawa pracy przed
                                            sądami powszechnymi,
                                        </li>
                                        <li>
                                            oferujemy pomoc prawną związaną z postępowaniem w sprawach o naruszenie praw pracowniczych
                                            prowadzonych przed inspektorem pracy,
                                        </li>
                                        <li>
                                            wspieramy kontakty z zakładowymi organizacjami związkowymi i zakładowymi społecznymi inspektorami pracy,
                                        </li>
                                        <li>
                                            świadczymy doradztwo w zakresie problematyki wypadków przy pracy i chorób zawodowych,
                                        </li>
                                        <li>
                                            świadczymy doradztwo w zakresie środków prawnych stosowanych przez inspektorów pracy oraz procedur ich zaskarżania,
                                        </li>
                                        <li>
                                            doradzamy w procesach restrukturyzacji zatrudnienia, w tym stosowaniu procedur zwolnień indywidualnych i zwolnień grupowych,
                                        </li>
                                        <li>
                                            uczestniczymy w negocjacjach z organizacjami związkowymi i organizacjami pracodawców.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingNine">
                                <h5 class="mb-1">
                                    <button class="btn btn-link btn-block card-header-text" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                        Prawo upadłościowe i układowe
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#rightside-accordion">
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            przygotowywanie wniosków o ogłoszenie upadłości układowej i likwidacyjnej,
                                        </li>
                                        <li>
                                            przygotowywanie i obsługa upadłości konsumenckich,
                                        </li>
                                        <li>
                                            udział w prowadzonych postępowaniach upadłościowych i układowych według nowego prawa upadłościowego,
                                        </li>
                                        <li>
                                            przygotowywanie pism procesowych w postępowaniach upadłościowych i układowych,
                                        </li>
                                        <li>
                                            negocjowanie i zawieranie ugód przed sądami powszechnymi.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingTen">
                                <h5 class="mb-1">
                                    <button class="btn btn-link btn-block card-header-text" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                        Spory sądowe, egzykucja
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#rightside-accordion">
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            reprezentowanie klientów przed sądami powszechnymi we wszelkich instancjach,
                                        </li>
                                        <li>
                                            prowadzenie postępowań zabezpieczających,
                                        </li>
                                        <li>
                                            przygotowanie pism procesowych w postępowaniach cywilnych, karnych oraz administracyjnych,
                                        </li>
                                        <li>
                                            negocjowanie i zawieranie ugód przed sądami powszechnymi,
                                        </li>
                                        <li>
                                            prowadzenie postępowań egzekucyjnych po stronie dłużnika i wierzyciela,
                                        </li>
                                        <li>
                                            prowadzenie postępowań przeciwegzekucyjnych, zaskarżanie postanowień komorniczych i inne środki ochrony
                                            prawnej dłużnika przed wierzycielami,
                                        </li>
                                        <li>
                                            pomoc prawna w procesie windykacyjnym przed wszczęciem postępowań sądowych,
                                        </li>
                                        <li>
                                            zabezpieczanie należności i zobowiązań.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="headingEleven">
                                <h5 class="mb-1">
                                    <button class="btn btn-link btn-block card-header-text" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                        Legalizacja pobytu cudzoziemców
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#rightside-accordion">
                                <div class="card-body">
                                    <ul>
                                        <li>
                                            zezwolenia na pracę typ A, B, C, D.
                                        </li>
                                        <li>
                                            prowadzenie postępowań zabezpieczających,
                                        </li>
                                        <li>
                                            oświadczenia o powierzeniu wykonywania pracy powierzone cudzoziemcowi,
                                        </li>
                                        <li>
                                            sprawy związane z jednolitym pobytem czasowym i pracą,
                                        </li>
                                        <li>
                                            karta czasowego pobytu na podstawie innych okoliczności,
                                        </li>
                                        <li>
                                            karta stałego pobytu,
                                        </li>
                                        <li>
                                            karta rezydenta długoterminowego UE,
                                        </li>
                                        <li>
                                            zaproszenia dla cudzoziemców każdego rodzaju,
                                        </li>
                                        <li>
                                            obywatelstwo Polskie – pomoc w uzyskaniu,
                                        </li>
                                        <li>
                                            odwołania od decyzji administracyjnej,
                                        </li>
                                        <li>
                                            pomoc w wypełnianiu wniosków,
                                        </li>
                                        <li>
                                            konsultację.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>



</body>
</html>