

.photo-container {
	padding-top: 3ex;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 100%;
	width: 100%;
	margin: auto;
}

.note-container {
	padding-top: 2ex;
	width: 70%;
	margin: auto;
}

.note {
	text-align: center;
}

div.note-container > p:last-child {
	padding-top: 5ex;
}

	div.note-container > p:last-child:hover {
		text-decoration: underline;
	}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.note-container {
		width: 90%;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.note-container {
		width: 100%;
	}

	.title-text {
		font-size: 7ex;
	}

	img {
		width: 70%
	}
}

@media only screen and (max-width: 767px) {
	.note-container {
		width: 90%;
	}

	div.introduction-container div {
		width: 90%;
	}

	.title-text {
		font-size: 6.4ex;
	}
}
