.title-rectangle {
	height: 13ex;
	width: 100%;
	background-color: #183B7A;
	justify-content: center;
	align-items: center;
	display: flex;
}

.title-text {
	color: white;
	font-size: 7.7ex;
}

.introduction-container {
	margin-bottom: 3ex;
	padding-top: 3ex;
	text-align: center;
}

div.introduction-container div {
	margin: auto;
	width: 80%;
}

.introduced-text {
	font-family: 'Oxygen', sans-serif;
	text-align: center;
	font-size: 2.8ex;
}

.photo-container {
	padding-top: 3ex;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 100%;
	width: 100%;
	margin: auto;
}

.note-container {
	padding-top: 2ex;
	width: 80%;
	margin: auto;
}

.note {
	text-align: center;
}

div.note-container > p:last-child {
	padding-top: 5ex;
}

div.note-container > p:last-child:hover {
	text-decoration: underline;
}
