@{
    ViewData["Title"] = "Zespół | Grzegorz Bochnacki - Kancelaria Radcy Prawnego";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="title-rectangle">
        <h1 class="title-text">Zespół</h1>
    </div>

    <div class="introduction-container">
        <div class="row">
            <p class="introduced-text">
                W naszym zespole działają <strong>doświadczeni prawnicy</strong>, w tym radcowie prawni, adwokaci,
                aplikanci radcowscy i adwokaccy, doradcy podatkowi i rzecznicy patentowi.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 ">
            <div class="leftside-container">
                <p class="content-text">
                    Usługi pomocy prawnej świadczone są przez sprawny zespół wyspecjalizowanych
                    prawników z zachowaniem wysokich standardów zawodowej staranności i wiedzy. Zapewniając profesjonalną
                    obsługę prawną, przywiązujemy istotną wagę do utrzymania poufności spraw naszych Klientów i gwarantujemy
                    jej zachowanie, na każdym etapie postępowania.
                </p>

                <p class="content-text">
                        Włączenie adwokatów do obsługi prawnej pozwoliło na prowadzenie spraw z zakresu prawa karnego, <strong>prawa
                        rodzinnego i spadkowego</strong>.
                </p>

                <p class="content-text">
                    Stale współpracujący z Kancelarią Rzecznicy Patentowi prowadzą sprawy z zakresu ochrony praw autorskich, 
                    własności intelektualnej i własności przemysłowej.
                </p>

                <p class="content-text">
                    Doradcy podatkowi wspierają działania Klientów na każdym etapie ich spraw. Na bieżąco analizują ryzyka podatkowe 
                    przy poszczególnych projektach, zwracają uwagę na zagrożenia oraz pomagają w uzyskiwaniu indywidualnych 
                    interpretacji podatkowych. Pomagamy w przygotowaniu tzw. optymalizacji podatkowych działalności Klientów.
                </p>
            </div>
        </div>

        <div class="col-md-6 ">
            <div class="rightside-container">
            </div>
        </div>
    </div>

</body>
</html>