
.sort-container {
	margin: auto;
	width: 100%;
	padding-top: 2ex;
	padding-bottom: 5ex;
	text-align: right;
}

.dark-date-asc, .light-date-asc, .dark-date-desc, .light-date-desc {
	height: 3ex;
	width: 2ex;
	margin: auto;
	margin-left: 1ex;
	margin-bottom: -0.8ex;
}

.dark-date-asc {
	content: url(/icons/down-arrow-dark.png);
}

.light-date-asc {
	content: url(/icons/down-arrow-light.png);
}

.dark-date-desc {
	content: url(/icons/up-arrow-dark.png);
}

.light-date-desc {
	content: url(/icons/up-arrow-light.png);
}

p button span:first-child {
	font-size: 2.3ex;
}

table {
	margin: auto;
	width: 85%;
}

th {
	vertical-align: initial;
	padding-right: 2ex;
}

.article {
	margin: auto;
	padding-bottom: 2ex;
	text-align: justify;
}

h5 {
	font-weight: bold;
}

#news {
	table-layout: fixed;
	width: 90%;
}

#news tr th.table-header-date {
	width: 25%;
}

@media only screen and (max-width: 550px) {
	#news tr th.table-header-date {
		font-size: 1.3ex;
	}
	#news tr td div.article {
		font-size: 1.6ex;
	}
	#news tr td div.article h5 {
		font-size: 2ex;
	}
}