<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Grzegorz Bochnacki - Kancelaria Radcy Prawnego</title>
    <link rel="shortcut icon" href="~/images/tab_logo.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GB_Webpage.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-action="Index"><img src="~/images/logo_pl.png" alt="Logo" /></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-action="index">O nas</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-action="specializations">Specjalizacje</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-action="team">Zespół</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-action="cooperation">Współpraca</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-action="contact">Kontakt</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <nav class="navbar-light bg-white">
            <ul class="navbar-nav settings-bar">
                <form>
                    <button name="pl_flag" class="btn btn-sm">
                        <img class="language-icon" src="/images/poland-flag.png" />
                    </button>
                    <button name="en_flag" class="btn btn-sm">
                        <img class="language-icon" src="/images/uk-flag.png" />
                    </button>
                    <button name="de_flag" class="btn btn-sm">
                        <img class="language-icon" src="/images/germany-flag.png" />
                    </button>
                </form>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div id="cookie-panel" class="row cookie-container content-text">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-white">Ciasteczka</h5>
                <p class="card-text text-white">
                    Ta strona używa plików cookies, korzystanie z tej strony oznacza
                    zhodę na ich wykorzystanie.
                <p>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button id="hide" class="btn btn-secondary">Ukryj powiadomienie</button>
                            <button id="moreInfo" class="btn btn-secondary">Dowiedz się więcej</button>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div id="about-cookies" class="custom-modal-bg">
        <div class="custom-modal">
            <div class="modal-content-container">
                <h5 class="modal-title">Czym są pliki cookie?</h5>
                <p class="modalInfo">
                    Przez pliki cookies (czyli tzw. "ciasteczka") należy rozumieć dane informatyczne, w szczególności pliki tekstowe, które
                    przechowywane są w urządzeniach końcowych użytkowników i przeznaczone są do korzystania ze stron internetowych.
                    Pliki te co do zasady zawierają nazwę strony internetowej, z której pochodzą, czas przechowywania ich na urządzeniu
                    końcowym oraz unikalny numer.
                </p>
                <h5 class="modal-title">Do czego używamy plików "cookies"?</h5>
                <p class="modalInfo">
                    Pliki cookies mogą być przez nas używane m.in. w celu: dostosowania zawartości stron internetowych do preferencji
                    użytkownika oraz optymalizacji korzystania ze stron internetowych. Używane są również w celu tworzenia anonimowych,
                    zagregowanych statystyk, które pomagają zrozumieć w jaki sposób użytkownik korzysta ze stron internetowych, co
                    umożliwia ulepszanie ich funkcjonalności. Używając ciasteczek w wyżej opisany sposób nigdy nie identyfikujemy
                    tożsamości użytkowników na podstawie informacji przechowywanych w ciasteczkach.
                </p>
                <h5 class="modal-title">Jak długo przechowywane są dane w ciasteczkach?</h5>
                <p class="modalInfo">
                    Stosowane są dwa rodzaje plików cookies: "sesyjne” (session cookies) oraz "stałe” (persistent cookies). Pierwsze
                    z nich są plikami tymczasowymi, które pozostają na urządzeniu użytkownika, aż do czasu wylogowania, opuszczenia
                    strony internetowej lub wyłączenia oprogramowania (przeglądarki internetowej). "Stałe” pliki pozostają na
                    urządzeniu użytkownika przez czas określony w parametrach plików cookies lub do czasu ich usunięcia przez
                    użytkownika. Pliki cookies wykorzystywane przez partnerów operatora strony www, podlegają ich własnej
                    polityce prywatności.
                </p>
                <h5 class="modal-title">Czy mogę zrezygnować z akceptowania cookies?</h5>
                <p class="modalInfo">
                    Standardowo oprogramowanie służące do przeglądania stron internetowych (przeglądarka internetowa) domyślnie
                    dopuszcza umieszczanie plików cookies na urządzeniu końcowym. Ustawienia te mogą zostać zmienione tak,
                    aby ciasteczka były blokowane - w całości lub w jakiejś części. Szczegółowe informacje o możliwości i
                    sposobach obsługi plików cookies dostępne są w ustawieniach oprogramowania (przeglądarki internetowej).
                    Należy jednak pamiętać, że ograniczenie stosowania plików "cookies" może wpłynąć na niektóre funkcjonalności
                    dostępne na stronie www.
                </p>

                <div class="modal-footer">
                    <button type="button" id="close-about-cookie" class="btn btn-secondary">Close</button>
                </div>
            </div>

        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2015 - Grzegorz Bochnacki - Kancelaria Radcy Prawnego
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
