/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
	border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

ul.navbar-nav{
	justify-content: end;
	align-content: end;
	padding-right: 2ex;
}

li.nav-item {
	font-size: 3ex;
	
}

.footer {
	margin-top: 3ex;
	height: 10ex;
	width: 100%;
}



ul#menu-bar li:hover {
	border-radius: 1ex 1ex 1ex 1ex;
	height: 100%;
	background-color: #cacbcf;
}

/*Cookie section*/
/*Cookie first window*/
.cookie-container {
	font-size: 1.9ex;
	text-align: left;
	position: fixed;
	bottom: -1ex;
	right: 5ex;
	display:block;
}

div.cookie-container div:first-child {
	width: 60ex;
	background-color: #183B7A;
}

div.card div:first-child {
	right: 5ex;
	width: 100%;
}

h5.card-title {
	text-align: center;
	font-size: 3ex;
	font-weight: bold;
}

@media only screen and (min-width: 477px) and (max-width: 565px) {
	.cookie-container {
		width: 85%;
		height: auto;
	}
}

@media only screen and (max-width: 476px){
	.cookie-container {
		width: 85%;
		height: auto;
	}

	#hide {
		margin-bottom: 1ex;
	}
}

.footer {
	font-size: 2ex;
}

footer.footer div.container {
	margin-top: 1.5ex;
}

/*Cookie more information*/
.cookie-modal-bg {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.cookie-modal {
	width: 55%;
	height: auto;
	max-height: 95%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 1ex;
	overflow-y: auto;
}

div.modal-content-container > p {
	font-family: 'Oxygen', sans-serif;
	text-align: justify;
	font-size: 1.85ex;
}

.modal-content-container {
	margin-top: 2ex;
	margin-bottom: 2ex;
	max-width: 90%;
}

.modalInfo {
	word-break: break-word;
}

/*Adjustring size of 'cookie more information'*/
@media only screen and (min-width: 999px) and (max-width: 1274px) {
	.cookie-modal {
		width: 65%;
	}
}

@media only screen and (min-width: 722px) and (max-width: 998px) {
	.cookie-modal {
		width: 85%;
	}
}

@media only screen and (min-width: 500px) and (max-width: 721px) {
	.cookie-modal {
		width: 95%;
	}

	.modal-content-container {
		font-size: 1.6ex;
	}
	h5.modal-title {
		font-size: 2.5ex;
	}

	div.modal-content-container > p {
		text-align: left;
	}
}

@media only screen and (max-width: 499px) {
	.cookie-modal {
		width: 100%;
	}

	.modal-content-container {
		font-size: 1.5ex;
	}

	h5.modal-title {
		font-size: 2ex;
	}

	div.modal-content-container > p {
		text-align: left;
	}
}

/*Buttons of languages section*/
header nav:last-child {
	text-align: right;
}

.settings-icon {
	height: 3ex;
	width: 3ex;
}

.settings-bar {
	display: -webkit-inline-box;
	margin-right: 1ex;
}

ul.settings-bar li:last-child {
	margin-left: 4ex;
}

/*Button of theme selection*/
.light-theme, .dark-theme {
	height: 3ex;
	width: 3ex;
	display: table;
	margin: 0 auto;
}

.light-theme {
	content: url(icons/light.png);
}

.dark-theme {
	content: url(icons/dark.png);
}
